{% extends "base.html" %}


{% block title %} INSTRUCTIONS FROM HEALTH MINISTRY {% endblock %}
{% block content %}
אילו מקומות פועלים לפי תו ירוק
כולל עדכונים שנכנסו לתוקף החל מ-29.11.2021

אירועי תרבות וספורט, כולל מרתונים
בתי קולנוע ותיאטרון
כנסים ותערוכות
בתי מלון. ניתן להיכנס למלון גם בהצגת תוצאה שלילית בבדיקת PCR שנעשתה מחוץ לישראל עד 72 שעות לפני הצגתה במלון.
בריכות שחייה מקורות וחיצוניות בבתי מלון, באכסניות ובבתי הארחה. אין חובת תו ירוק בבריכות שחייה מקורות או חיצוניות אחרות (שאינן בבתי מלון), שם חלות הנחיות התו הסגול
חדרי כושר וסטודיו
בתי תפילה מעל ל-50 איש
אולמות וגני אירועים
פסטיבלים
מסעדות, ברים, חדרי אוכל ובתי קפה. אין חובת תו ירוק בחלק הפתוח של המקום
מוזיאונים. תלמידים ומלוויהם שאין להם תו ירוק יכולים להשתתף בסיורים כיתתיים של כיתות שלומדות יחד בשגרה (קפסולה קבועה) ותוך שמירה על הפרדה מקסימלית בין הכיתה לשאר מבקרי המוזיאון
ספריות. אין חובת תו ירוק לנכנסים לצורך השאלת ספרים בלבד
אטרקציות תיירותיות ופארקי שעשועים.
אין חובת תו ירוק בכניסה לאטרקציות בשטח פתוח
אוניברסיטאות ומוסדות להשכלה גבוהה
בחינות נהיגה מעשיות (טסטים)


{% endblock %}