{% extends "base.html" %}


{% block title %}{% endblock %}
{% block style %}


  <style>

 .style{
       position: absolute;
       top: 35%;
       left: 5%;
       right: 10%;
       hight : 100%;
       width: 70%;
       border: 2px  solid grey;
       border-radius: 8px;
       padding: 5px;
       box-shadow: 10px 10px 5px #aaaaaa;
       background-color: light grey;


      }

h3{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 10px;
  color: #486255;
}
h1{
 font-size: 25px;

}


  </style>
{% endblock %}


{% block content %}

<div class="style">
<h3> Macd's about </h3>
<h1>
    McDonald's is an American fast food company, founded in 1940 as a restaurant operated by Richard and Maurice McDonald,
    in San Bernardino, California, United States.

</h1>

</div>


{% endblock %}