{% extends "base.html" %}


{% block title %}{% endblock %}
{% block style %}


  <style>

 .style{
       position: absolute;
       top: 35%;
       left: 30%;
       hight : 100%
       width: 100%;
       border: 2px  solid grey;
       border-radius: 8px;
       padding: 5px;
       box-shadow: 10px 10px 5px #aaaaaa;
       background-color: light grey;


      }

h3{
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 10px;
  color: #486255;
}


  </style>
{% endblock %}


{% block content %}

<div class="style">
<h3> RULES ! </h3>
<ul>
  <li> It is mandatory to wear an oral mask and even </li>

     <li> Obligation to maintain hygiene </li>
     <li> It is mandatory to maintain a distance of 2 meters </li>
</ul>


</div>


{% endblock %}
